mixin preloader(data)
  .preloader
    .preloader__layout
      .preloader__logo
        img(src="%=static=%images/assets/top-baner/logo.png" alt="")
      .preloader__loader
        img(src="%=static=%images/content/loader.gif" alt="")