.download {
  padding-bottom: 168px;
  @media screen and (max-width: 760px) {
    padding-bottom: 60px;
  }
  &__wrapper {
    @extend .wrapper;
  }
  &__text {
    font-size: rem-calc(24);
    line-height: rem-calc(36);

    padding-top: 30px;

    text-align: center;

    color: #fff;
    @media screen and (max-width: 760px) {
      padding-top: 0;
    }
  }
  &__list {
    display: flex;

    padding-top: 70px;

    align-items: center;
    justify-content: center;
    @media screen and (max-width: 760px) {
      display: block;

      padding-top: 20px;
    }
  }
  &__item {
    display: block;

    margin: 0 6px;
    @media screen and (max-width: 760px) {
      margin: 0 auto 16px;
    }
    &._playmarket {
      @include bg($playmarket);
    }
    &._appstore {
      @include bg($appstore);
    }
  }
}
