mixin download(data)
  .download#download
    .download__wrapper
      .download__text This is an awesome one-stop app where you can find all events happening in Qatar. <br>Download the app today & stay tuned to all the events happening around you!

      .download__list
        a(href="https://play.google.com/store/apps/details?id=com.qatarevents" title="" target="_blank").download__item._playmarket
        a(href="https://itunes.apple.com/us/app/qatar-events-app/id1350228281?ls=1&mt=8" title="" target="_blank").download__item._appstore


