mixin download(data)
  .download
    .download__wrapper
      .download__text This is an awesome one-stop app where you can find all events happening in Qatar. <br>Download the app today & stay tuned to all the events happening around you!

      .download__list
        a(href="#" title="").download__item._playmarket
        a(href="#" title="").download__item._appstore