mixin screens(data)
  +screen-homepage
  +screen-login
  +screen-filters
  +screen-channels


mixin screen-homepage(data)
  .screens
    .screens__wrapper
      .screens-description
        .screens-description__title HOMEPAGE
        .screens-description__text With Qatar events app, you'll never be the person who is not updated with all the cool stuffs happening in Qatar. Numerous events listed and updated daily to keep you informed! So, stay tuned!

      .screens__image
        img(class="lazyload" data-src="%=static=%images/content/screen-1.png" width="852" height="672" alt="")

mixin screen-login(data)
  .screens._reverse
    .screens__wrapper
      .screens-description
        .screens-description__title LOGIN
        .screens-description__text Already registered on ILoveQatar? Login with your existing account to get full access to the features of the app! If not, you can use your Facebook or twitter to login.

      .screens__image
        img(class="lazyload" data-src="%=static=%images/content/screen-2.png" width="852" height="672" alt="")

mixin screen-filters(data)
  .screens
    .screens__wrapper
      .screens-description
        .screens-description__title FILTERS
        .screens-description__text You can use the three most intuitive filters. Today, this week and Later to filter the events. Or, you can filter events based on event type and dates!

      .screens__image
        img(class="lazyload" data-src="%=static=%images/content/screen-3.png" width="852" height="672" alt="")

mixin screen-channels(data)
  .screens._reverse
    .screens__wrapper
      .screens-description
        .screens-description__title CHANNELS
        .screens-description__text Have a favorite event organizer? Fan of a brand in Qatar? Check out the channels list to find and subscribe your favorite events by them!

      .screens__image
        img(class="lazyload" data-src="%=static=%images/content/screen-4.png" width="852" height="672" alt="")