mixin header(data)
  .header
    .header__wrapper
      .header-menu
        a(href="#" title="").header-menu__item About
        a(href="#" title="").header-menu__item Download
        a(href="#" title="").header-menu__item Features
        a(href="#" title="").header-menu__item Subscribe
        a(href="#" title="").header-menu__item Contacts