mixin header(data)
  .header
    .header__wrapper
      .header-menu
        a(href="#about" title="").header-menu__item About
        a(href="#download" title="").header-menu__item Download
        a(href="#features" title="").header-menu__item Features
        a(href="#footer" title="").header-menu__item Subscribe
        a(href="#footer" title="").header-menu__item Contacts