mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner__left
        .top-baner__logo
          img(src="%=static=%images/assets/top-baner/logo.png" alt="")
        .top-baner__text Qatar Events is a free app <br>bringing all the events and things to do in Qatar <br>right to your fingertips

      .top-baner__right
        img(src="%=static=%images/assets/top-baner/phones.png" alt="")