.top-baner {
  position: relative;

  width: 100%;
  height: 100vh;

  background: url(%=static=%general/bg.jpg) no-repeat center;
  background-size: cover;
  &__wrapper {
    position: relative;

    height: 100vh;
    padding-top: 80px;

    @extend .wrapper;
  }
  &__left {
    padding-left: 40px;

    text-align: center;

    @include vertical-center;
  }
  &__text {
    font-size: rem-calc(24);
    line-height: rem-calc(36);

    padding-top: 30px;

    text-align: center;

    color: #fff;
  }
  &__right {
    position: absolute;
    top: 100px;
    right: 0;

    height: 88%;
    img {
      display: block;

      width: auto;
      height: 100%;
    }
  }
}
